# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\本科课程学习资料\NovelSearchEngine\SearchWeb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
